<main class="body__main">
    <section class="main__caja-pj">
        <img src="assets/images/pj1_woman.jpg" alt="personaje">
    </section>
    <section class="main__caja-datos-pj">
        <div class="datos-pj__nombre">
            <div class="nombre__nombre-pj">nombre</div>
            <div class="nombre__alias-pj">curso que realiza</div>
        </div>
        <div class="datos-pj__informacion">
            <div class="informacion__info1">Informacion 1</div>
            <div class="separador-vertical"></div>
            <div class="informacion__info2">Informacion 2</div>
        </div>
    </section>
</main>