<main class="body__main-login">

    <section class="main-login__caja-login">


        <form action="#" class="caja-login__form-login">
            <div class="form-login__div-titulo">
                <span>INICIAR SESIÓN</span>
            </div>
            <div class="form-login__div-user-pass">
                <div class="div-user-pass__div-user">
                    <label id="label-user" for="input-user" class="form-login__user-label">USUARIO</label>
                    <input id="input-user" name="input-user" type="text" class="form-login__user-input"
                        placeholder="NOMBRE DE USUARIO">
                </div>
                <div class="div-user-pass__div-pass">
                    <label id="label-pass" for="input-pass" class="form-login__pass-label">CONTRASEÑA</label>
                    <input id="input-pass" name="input-pass" type="text" class="form-login__pass-input"
                        placeholder="CONTRASEÑA">
                </div>
            </div>
            <div class="form-login__div-olvido-pass">
                <a href="#">
                    <span>¿Has olvidado la contraseña?</span>
                </a>
            </div>
            <div class="form-login__div-boton-acceder">
                <button class="boton-acceder__boton" type="submit">

                    <img src="assets/images/flecha.png" alt="Enviar">
                    <div class="link-hover"></div>

                </button>
            </div>
        </form>
    </section>
</main>