<main class="main__cuerpo_principal">

    <section class="cuerpo_principal__section_gris">

        <section class="section_gris__section_naranja">

            <div class="section_naranja__div_azul1">
                <img src="./assets/images/pj4_noobMan.jpg" alt="noob man" srcset="./assets/images/pj4_noobMan.jpg" />
            </div>
            <div class="section_naranja__div_azul2">
                <img src="./assets/images/pj4_noobWoman.jpg" alt="noob woman"
                    srcset="./assets/images/pj4_noobWoman.jpg" />
            </div>

        </section>

    </section>

    <section class="cuerpo_principal__section_cards">
        
        <div class="section_cards__card">
            <div class="card__card_front">
                <img src="./assets/images/pj1_man.jpg" alt="noob woman"
                    srcset="./assets/images/pj1_man.jpg" />
            </div>
            <div class="card__card_back">Escoge un personaje</div>
        </div>

        <div class="section_cards__card">
            <div class="card__card_front">
                <img src="./assets/images/pj1_woman.jpg" alt="noob woman"
                    srcset="./assets/images/pj1_woman.jpg" />
            </div>
            <div class="card__card_back">Escoge un personaje</div>
        </div>


        <div class="section_cards__card">
            <div class="card__card_front">
                <img src="./assets/images/pj2_pandaMa.jpg" alt="noob woman"
                    srcset="./assets/images/pj2_pandaMa.jpg" />
            </div>
            <div class="card__card_back">Termina trimestre sin ninguna falta</div>
        </div>

        <div class="section_cards__card">
            <div class="card__card_front">
                <img src="./assets/images/pj2_pandaFe.jpg" alt="noob woman"
                    srcset="./assets/images/pj2_pandaFe.jpg" />
            </div>
            <div class="card__card_back">Termina trimestre sin ninguna falta</div>
        </div>



        <div class="section_cards__card">
            <div class="card__card_front">
                <img src="./assets/images/pj3_samuMa.jpg" alt="noob woman"
                    srcset="./assets/images/pj3_samuMa.jpg" />
            </div>
            <div class="card__card_back">Saca un 10</div>
        </div>
        <div class="section_cards__card">
            <div class="card__card_front">
                <img src="./assets/images/pj3_samuFe.jpg" alt="noob woman"
                    srcset="./assets/images/pj3_samuFe.jpg" />
            </div>
            <div class="card__card_back">Saca un 10</div>
        </div>

        <div class="section_cards__card">
            <div class="card__card_front">
                <img src="./assets/images/pj4_noobMan.jpg" alt="noob man"
                    srcset="./assets/images/pj4_noobMan.jpg" />
            </div>
            <div class="card__card_back">Matriculate</div>
        </div>
        <div class="section_cards__card">
            <div class="card__card_front">
                <img src="./assets/images/pj4_noobWoman.jpg" alt="noob woman"
                    srcset="./assets/images/pj4_noobWoman.jpg" />
            </div>
            <div class="card__card_back">Matriculate</div>
        </div>
    
    </section>
</main>
<script type="module" src="./assets/scripts/carrousel.js"></script>
<script type="module" src="./assets/scripts/cards.js"></script>