<main class="body__main_sobre_mi">
    <section class="main_sobre_mi__container">

        <div class="container__div_image">
            <a href="#">
                <picture>
                    <source type="image/webp" srcset="./assets/images/pocion.webp" />
                    <source type="image/jpg" srcset="./assets/images/pocion.jpg" />
                    <img src="./assets/images/pocion.png" alt="pocion" srcset="./assets/images/pocion.png" />
                </picture>
            </a>
        </div>
        <div class="container__div_text">
            CONTAINER DIV TEXT
        </div>
    </section>



</main>